* {
    margin: 0;
    padding: 0;
}

body {
    background-color: darkcyan;
}

#nav li {
    display: inline;
    float: left;
}

#nav li a {
    display: block;
    padding: 20px;
    margin-left: 30px;
    background-color:#e5d3bc;
    text-decoration: none;
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#nav li a:hover {
    background-color:#dfc39f;
}

#nav li a:visited {
    text-decoration: none;
    color: black;
}

#nav {
    margin-top: 200px;
    list-style: none;
    font-weight: bold;
    font-size:xx-large;
    width:auto;
    text-align: center;
    background-color:#e5d3bc;
    height:80px;
}

#main_body {
    background-color:gainsboro;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size:larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#main_body li a{
    text-decoration: none;
    background-color: gainsboro;
}

#main_body h1,h2 {
    padding: 20px;
}

#main_body li {
   margin-left: 50px;
   margin-bottom: 5px;
}

#main_body ul {
    padding: 10px;
 }

#main_body img {
    padding: 10px;
}

.resume_body{
    display: flex;
    justify-content: center;
}

#footer ,a  {
    background-color:#e5d3bc;
    text-align: center;
    color:black;
}